<header>
  <nav class="red lighten-3">
    <div class="nav-wrapper">
      <a
        class="brand-logo"
        routerLink="/"
        style="margin-left:15px">
        Mom's Recipes
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/login" *ngIf="!isAuthenticated">Login</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a></li>
        <li><a (click)="signOut()" *ngIf="isAuthenticated">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

