<app-recipe-discard-changes-modal
  #discardModal></app-recipe-discard-changes-modal>

<form
  [formGroup]="recipeForm"
  class="detail-container">

  <input type="hidden" formControlName="id">

  <div class="row">
    <div class="col l4 s12">
      <app-recipe-image
        [(recipe)]="recipe"
        [recipeFormGroup]="recipeForm"></app-recipe-image>

      <app-recipe-ingredients-list
        [(recipe)]="recipe"
        [recipeFormGroup]="recipeForm"></app-recipe-ingredients-list>
    </div>

    <div class="col l6 s12">
      <app-recipe-basic-info
        [(recipe)]="recipe"
        [recipeFormGroup]="recipeForm"></app-recipe-basic-info>
      <app-recipe-directions-list
        [(recipe)]="recipe"
        [recipeFormGroup]="recipeForm"></app-recipe-directions-list>
    </div>
  </div>
</form>
